<% semantic_form_for @order do |f| %>
  <%= f.error_messages %>
  <% f.semantic_fields_for :shipping do |b| %>
    <h2>Address Details</h2>
    <%= render(:partial => "address_form", :locals => { :b => b }) %>
  <% end %>
  
  <% f.semantic_fields_for :billing do |b| %>
    <h2>Billing Details</h2>
    <%= render(:partial => "address_form", :locals => { :b => b }) %>
  <% end %>
  
  <%= f.submit "Update Details" %>
<% end %>