<h1>Products</h1>

<% if @products.size > 0 %>
  <%= render(:partial => "product", :collection => @products) %>
<% else %>
  <p>There are currently no products, <%= link_to "create one", new_admin_product_path %></p>
<% end %>

<p><%= link_to 'New Product', new_admin_product_path %></p>